<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="header">
    <div class="headline">
      <%- title %>
    </div>
  </div>