@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');

*{
  margin : 0;
  padding: 0;
}

/* Globals */
html {
  box-sizing: border-box;
}
body {
  font-family: 'Lora', serif;
  background-color :#eee;
  line-height: 30px;
  
}
h1,h2,h3,a {
  /* padding : 10px; */
  padding-bottom: 20px;
  padding-top: 20px;
  color : #333;
  line-height: 30px;
  font-family : 'Roboto',serif;
}
h3 {
  font-size: 24px;
}
h2 {
  font-size: 32px;
}
h1 {
  font-size: 48px;
}
a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

/* Article Section */

.article-container {
  margin-top: 30px;
  margin : auto; 
  text-align: center;
}
.article {
  padding : 30px;
  margin: auto;
  display: inline-block;
  text-align: left;
  width: 80%;
}
.article img{
  width : 80%;
}

blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
}

/* Header Section */

.header {
  background-image: url("header.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  width: 100%;
  height: 40vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* margin-bottom: 15px; */
  font-family : 'Roboto',serif;
  font-size: 48px;
  font-weight: bold;
}
.headline {
  margin: auto;
}

/* Frontpage Section */
.flex-container {
  margin : auto;
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: space-around;
  max-width: 1200px; 
}

.articleitems {
  width: 50%;
  padding: 20px;
  background-color : #eee;
  align-self: baseline;
}

.articleitems img{
  width: auto;
  max-width: 100%;
}

.image-placeholder {
  background-color: #606060;
  display : flex;
  height : 30vh;
  max-height: 100%;
  width : 50vw;
  max-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.error {
  font-size : 48px;
  text-align: center;
  padding-top : 30px;
}




@media only screen and (max-width: 600px){
  .articleitems {
    width: 100%;
  }
}